.blockchainContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow-x: auto;
    align-items: center;
}
  
.leftAds, .rightAds {
    flex: 1;
    padding: 0 2rem;
}
  
.blockchainScroll {
    flex: 6;
    overflow-x: auto;
    -ms-overflow-style: none; 
}

.blockchainScroll::-webkit-scrollbar {
    display: none; 
}
  
.blockchain {
    display: flex;
    align-items: center;
    white-space: normal;
    word-break: keep-all;
    max-width: auto;
    padding: 1rem;
}
  
.block {
    min-width: 250px;
    padding: 2rem;
    height: 20rem;
    background-color: rgb(42, 44, 44);
    text-align: center;
    line-height: 20px;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    z-index: 200;
    margin: 0 -5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    word-break: break-word;
}

.chainImg {
    margin: 0 -10px;
    width: 400px;
    height: 100px;
}
  
.transactionItem {
    color: blue;
    cursor: pointer;
}
